<!--The content below is only a placeholder and can be replaced.-->  



<div id="header" style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h3>Your curent score:  </h3> {{answerAttributes?.totalScore}}
</div>
<br>

<div id="questionBox" style="text-align:center">
  <p><b>Category:</b>  {{questionInfo?.category.title}}</p>
  <p><b>Points:</b>  {{questionInfo?.value}}</p>
  <br>
  <h3>Question:</h3>
  <p>{{questionInfo?.question}}</p>
</div>
<br>
<app-answer #answerAttributes (newQuestion)="getDataFromService()" [questionInfo]="questionInfo"></app-answer>
