<!--The content below is only a placeholder and can be replaced.-->  



<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h3>Your curent score:  </h3> {{totalScore}}
</div>
<br>
<br>

<div id="questionBox">
  <p><b>Category:</b>  {{questionInfo?.category.title}}</p>
  <p><b>Points:</b>  {{questionInfo?.value}}</p>
  <br>
  <h3>Question:</h3>
  <p>{{questionInfo?.question}}</p>
</div>
<br>
<br>
<div id="answerBox">
  <p>Answer the question here:</p> 
  <input type="text" [(ngModel)]="userAnswer">
  <button id="answerButton" (click)="checkAnswer()">Submit Answer</button>
</div>
