<!--The content below is only a placeholder and can be replaced.-->  



<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h3>Your curent score:  </h3> {{totalScore}}
</div>
<br>
<hr>
<br>

<div id="questionBox" style="text-align:center">
  <p><b>Category:</b>  {{questionInfo?.category.title}}</p>
  <p><b>Points:</b>  {{questionInfo?.value}}</p>
  <br>
  <h3>Question:</h3>
  <p>{{questionInfo?.question}}</p>
</div>
<br>
<hr>
<br>
<app-answer (thingSelected)="catchThingSelected($event)" [totalScore]="totalScore" [questionInfo]="questionInfo" [userAnswer]="userAnswer" [getDataFromService]="getDataFromService"></app-answer>
